<div class="container">
  <section>
    <div class="grid-list">
      <div [routerLink]="'/courses/' + course.slug" class="gridCard" *ngFor="let course of allCourses">
        <div class="thumbnail">
          <img [src]="course.thumbnail" alt="course image">
        </div>
        <h4>{{course.title}}</h4>
        <div class="desc">{{course.description.substr(0, 100)}}</div>
          <div class="course-details">
            <div class="lesson">
             <i class="far fa-file-video "></i>
              <span>{{course.lessons}}</span>
            </div>
            <div class="duration">
             <i class="far fa-clock "></i>
              <span>
                {{course.duration}}
<!--                {{course.duration - (60 * (course.duration / 60))}}mins-->
              </span>
            </div>
            <div class="duration">
              <span>{{course.price | currency:'₦'}}</span>
            </div>
          </div>
      </div>
    </div>
  </section>
</div>
