<div class="mainDiv">
  <div class="topDiv">
    <div>
      <h1>Customer Service</h1>
      <div>
        <a href="https://wa.me/+2347032767180" target="_blank">Enrol</a>
      </div>
    </div>
    <div><img src="../../../../assets/services/customerServiceTraining.jpeg" alt=""></div>
  </div>

  <div class="container">
    Everyone sells one thing or the other. It could be a product or a service. In doing this, the importance of customer
    relationship cannot be underestimated. This course helps one to understand how to relate with customers in a
    friendly but professional way. It educates on how to get or lure customers, clients, manage difficult
    customers/clients and how to turn "expired" customers/clients into active ones and retain them. It also teaches the
    right terms to use in relating with customers/clients and how to keep them happy and satisfied.
  </div>
</div>
