.contain {
  width: 70%;
  margin: 50px 15%;

  .buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 750px;
    justify-content: space-between;
  }

  button {
    width: 60px;
    height: 50px;
    margin: 6px;
    border-radius: 5px

  }

  .answered {
   background: #096A00;
  }

  .unanswered {
    background: #CFCFCF;
  }

  .answering {
    background: #FF6600;
  }

  .speaker {
    margin: 10px;
    text-align: center;
  }
  .details-btn {
    display: flex;
    justify-content: space-between;

    .prev-next {
      width: 100px;
      background: #000000;
      box-shadow: 0px 0px 20px #C4C4C4;
      border-radius: 10px;
      color: #fff;
    }

    .submit-btn {
      width: 200px;
      background: #FF6600;
      box-shadow: 0px 0px 20px #C4C4C4;
      border-radius: 10px;
    }

    .btn-font {
      font-family: 'Philosopher';
      font-size: 20px;
    }

  }
}