<div class="mainDiv">
  <div class="topDiv">
    <div>
      <h1>NEW VIDEO TRAINING ON ENGLISH DICTION</h1>
      <div>
        <a href="https://selar.co/englishdictioncourse" target="_blank">Enrol</a>
      </div>
    </div>
    <div><img src="../../../../assets/courses/course4.jpeg" alt=""></div>
  </div>

  <div class="container">
    SPEAKING IS DIFFERENT FROM COMMUNICATION, You can Speak without communicating and this is what many people do not
    understand.
    A lot of People think that speaking with good diction is about faking an accent or rolling your tongue, NO! It is
    never about rolling your tongue or faking an accent, It is about accurate and effective communication such that
    anyone from any part of the world can understand you clearly.
    This is what a lot of people do not know. As a Public speaker, A radio/TV presenter, A voice over artiste, Customer
    service representative, Lawyer and all other professions that requires speaking, You need to develop this important
    skill.
    And being one who has trained thousands of people around the world with stunning testimonies, I have observed that
    there are tons of commonly mispronounced words everywhere, especially in this part of this world.
    This online Diction Course is what you need to begin your journey to speaking right.
  </div>
</div>
