<div class="mainDiv">
  <div class="topDiv">
    <div>
      <h1>Children Hub</h1>
      <div>
        <a href="https://wa.me/+2347032767180" target="_blank">Enrol</a>
      </div>
    </div>
    <div><img src="../../../../assets/services/onlineChildrenHub.jpeg" alt=""></div>
  </div>

  <div class="container">
    Would you want your child to learn to speak the English language eloquently and confidently? Do you have a child who
    is always shy and would want them to be more expressive? Would you want your child to be more creative in writing?
    Would you want your child to learn the different etiquettes for children? Unique Accent Online Children Hub is the
    place for your child. We bring out the best in your children and train them to be eloquent and confident. We've got
    children from different parts of the world and would like to have your child on board. Our classes feature;
    <ul>
     <li>Diction</li>
      <li>Public Speaking</li>
     <li> Etiquette</li>
      <li>Poetry</li>
     <li> Creative Writing</li>
    </ul>
    Age range 4-12
  </div>
</div>
