<div class="mainDiv">
  <div class="topDiv">
    <div>
      <h1>PUBLIC SPEAKING COMBO</h1>
      <div>
        <button>Buy</button>
      </div>
    </div>
    <div><img src="../../../../assets/courses/course2.jpg" alt=""></div>
  </div>

  <div class="container">
    Over the years, I have addressed thousands of audiences from different walks of life and one thing I have realised
    is that the fear of Public Speaking is only a thing of the mind and the result of negative or pessimistic thinking.
    People focus more on "I'm not good enough", "the eyes on me are too much", "I don't fit into this class", "I don't
    know what to say", how can I talk to them", they may not like my speech or even my personality" bla bla bla. You
    judge yourself even before you begin your speech.
    You forgot to think of the positive sides "This idea I'm about to share might save a LIFE or help someone's career",
    "This audience of fifty or two thousand or five hundred people are here to learn from me", "I don't have to keep
    this idea to myself, that's selfish! I have to share"... These and many more are what you should tell yourself
    FIRST, before you walk up that stage or give that presentation.
    This E book will open your eyes to many things you never knew about Public Speaking
  </div>
</div>
