<div class="container">
  <section class="head">
    <div class="head-title"><h3><strong>Online Courses</strong></h3></div>
    <div class="head-utils">
      <input type="text" id="search"/>
      <img src="/assets/courses/card-list.svg" alt="flex">
      <img src="/assets/courses/grid.svg" alt="grid">
    </div>
  </section>

  <section>
    <div class="main">
      <div class="details">
        <img src="/assets/courses/undraw_No_data_re_kwbl.png" alt="no-course-available">
        <h2><strong>Courses Not Found</strong></h2>
      </div>
    </div>
 </section>
</div>