
<div class="course-section" *ngIf="currentLesson && courseIsPurchased">
  <div class="videoSection">
    <video [src]="currentLesson.video" controls [poster]="currentLesson.thumbnail"></video>
    <div class="courseList">
      <div
        class="course"
        *ngFor="let lessonsDetails of lessonList"
        (click)="setCurrentLesson(lessonsDetails)"
        [style]="{'background': lessonsDetails === currentLesson ? '#848484' : '#cfcfcf'}"
      >
        <div class="thumbnail">
            <img [src]="lessonsDetails.thumbnail" alt="">
          </div>
          <div class="details">
            <div class="title">{{lessonsDetails.title}}</div>
            <div class="duration">
              <i class="fa fa-clock"></i>
              <span>
                {{(lessonsDetails.duration / 60).toString().split('.')[0]}}mins {{lessonsDetails.duration - ((lessonsDetails.duration / 60).toString().split('.')[0] * 60)}}sec
              </span>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="course-desc">
      <h1>{{currentLesson.title}}</h1>
      <div>{{currentLesson.description}}</div>
    </div>

    <div class="comment-section" [formGroup]="commentForm">
      <h2>Comments</h2>
      <textarea formControlName="comment" name="comment" id="" cols="50" rows="20"></textarea>
      <div class="postButton">
        <button class="btn" (click)="createComment()">Post</button>
      </div>
    </div>

    <div class="comment-details">
      <ng-container *ngFor="let comment of allComment">
        <div class="comment">
          <div class="user">
            <div class="userName">{{comment.user.name}}</div>
            <div class="isAdmin" *ngIf="comment.user.isAdmin || comment.user.isStaff">Admin</div>
          </div>

          <div class="commentBox">
            <div class="commentText">{{comment.comment}}</div>
            <div class="comment-reply" *ngFor="let reply of comment.replies">
              <div class="user">
                <div class="userName">{{reply.user.name}}</div>
                <div class="isAdmin" *ngIf="reply.user.isAdmin || reply.user.isStaff">Admin</div>
              </div>
              <div>{{reply.comment}}</div>
            </div>
            <div class="reply-action">
              <input type="text" #reply (keyup.enter)="replyComment(comment.id, reply.value)">
              <button class="btn" (click)="replyComment(comment.id, reply.value)">Reply</button>
            </div>
          </div>
        </div>

      </ng-container>

    </div>
  </div>

</div>


<div *ngIf="currentLesson && (courseIsPurchased === false)">
  {{redirectToCourseDetail()}}
</div>
