.contain {
  width: 70%;
  margin: 50px 15%;

  .buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 750px;

    @media (max-width: 930px) {
      width: 500px;
    }

    @media (max-width: 600px) {
      width: 300px;
    }

    @media (max-width: 370px) {
      width: 250px;
    }
  }

  button {
    width: 60px;
    height: 50px;
    margin: 6px;
    border-radius: 5px;

    @media (max-width: 930px) and (min-width: 600px) {
      margin: 1em;
    }

    @media (max-width: 600px) {
      margin: 0;
    }

  }

  .answered {
   background: #096A00;
  }

  .unanswered {
    background: #CFCFCF;
  }

  .answering {
    background: #FF6600;
  }

  .text {
    width: 100%;

    @media (max-width: 930px) {
      overflow: hidden;
    }

    p {
      font-family: Philosopher;
      font-size: 27px;
      line-height: 35px;
      text-align: center;
    }
  }

  .speaker {
    height: 150px;
    margin: 10px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;

    .record {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      background: #c9c9c9;
      box-shadow: 0 0 10px 3px #00000066;
      display: grid;
      align-items: center;
      justify-content: center;

      &.animate {
        @keyframes recording {
          from {
            width: 120px;
            height: 120px;
          }
          to {
            width: 100px;
            height: 100px;
          }
        }

        animation: recording linear 1s infinite alternate;
        background: #ff6600;
        transition: background-color linear 1s;
      }
    }
  }

  .details-btn {
    display: flex;
    justify-content: space-between;

    .prev-next {
      width: 100px;
      background: #000000;
      box-shadow: 0px 0px 20px #C4C4C4;
      border-radius: 10px;
      color: #fff;
    }

    .submit-btn {
      width: 200px;
      background: #FF6600;
      box-shadow: 0px 0px 20px #C4C4C4;
      border-radius: 10px;
    }

    .btn-font {
      font-family: 'Philosopher';
      font-size: 20px;
    }

  }
}
