<div class="mainDiv">
  <div class="topDiv">
    <div>
      <h1>START SPEAKING IN THE RIGHT DICTION</h1>
      <div>
        <button>Enrol</button>
      </div>
    </div>
    <div><img src="../../../../assets/courses/course1.jpeg" alt=""></div>
  </div>

  <div class="container">
    Do you have a 2,3,4,5 year old? Start now to teach them how to say words the right way. Our collection of
    downloadable
    videos for 2,3,4,5 year olds are specially designed to help your children learn the sounds and blend them.
    They learn to pronounce these words the right way and blend them to make simple sentences. These downloadable videos
    include pronunciations of objects, animals, colours, basic shapes, nursery rhymes, parts of the body, personal
    hygiene
    etc.
    These are just what your 2- 5 year olds need. We need to catch them young and help them start speaking right.
    N5,000 for 5 videos N10,000 for 10 videos
  </div>
</div>
