.contain {
  #topDiv {
    width: 100%;
    padding: 10px 5vw;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    background: #e2e2e2;
    border: none;
    box-shadow: 0 0 5px #e2e2e2;
    height: auto;
    min-height: 400px;
    box-sizing: border-box;

    @media (max-width: 700px) {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }

    .info {
      width: 100%;

      h1 {
        font-size: 40px;
        font-weight: 700;
      }

      .fee {
        font-weight: 900;
        font-family: "Philosopher", sans-serif;
        font-size: 1.5em;
      }

      div {
        font-size: 15px;
        margin-top: 20px;
        //height: 170px;
      }

      .btn-btn {
        display: flex;
        margin-top: 50px;
        gap: 10px;
        height: 70px;
        //justify-content: space-around;

        @media (max-width: 700px) {
          flex-wrap: wrap-reverse;
          justify-content: center;
          button {
            width: 100%;
            max-width: 300px;
          }
        }

        button {
          border-radius: 10px;
          font-family: "Philosopher", sans-serif;
          color: #212529;
          text-align: center;
          text-decoration: none;
          font-size: 20px;
          font-weight: 900;
          background-color: #FF6600;
          box-shadow: 0 0 5px #000000;
          padding: 10px 50px;
          cursor: pointer;
        }
      }
    }

    img {
      min-width: 300px;
      width: auto;
      max-width: 40%;
      height: auto;
      max-height: 100%;

      &.mobilThumbnail {
        display: none;

        @media (max-width: 700px) {
          display: inline-block;
        }
      }
    }
  }

  .bottomDiv {
    padding: 10px 5vw;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;


    @media (max-width: 1100px) {
      flex-wrap: wrap-reverse;
      justify-content: center;

      .video-contain {
        max-width: 60% !important;
      }
    }

    .lessonTable {
      width: 100%;
      box-sizing: border-box;
      .table-row {
        display: grid;
        grid-template-columns: 150px auto 150px;
        gap: 20px;
        width: 100%;
        align-items: center;
        margin: 10px 0;
        background: #f1f1f1;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 0 #FFFFFF;
        transition: linear 200ms box-shadow, linear 200ms background;


        @media (max-width: 1090px) {
          display: grid;
          margin: 25px auto;
        }

        @media (max-width: 700px) {
          display: flex;
          gap: 10px;
          align-items: flex-start;
          margin: 25px auto;

          .thumbnail {
            width: auto;
            min-width: 70px !important;
          }
          .text {
            height: 50px;
            overflow: hidden;
          }
          .data {
            display: none !important;
          }
        }

        .thumbnail {
          width: auto;
          max-width: 200px;

          img {
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 200px;
          }
        }

        .description {
          .title {
            font-family: "Philosopher", sans-serif;
            font-size: 1.6em;
          }
        }
      }
    }

    .video-contain {
      min-width: 300px;
      width: auto;
      max-width: 40%;

      video {
        width: 100%;
      }
    }
  }
}
