.container {
  width: 80%;
  margin: 30px 10%;
  
  .head {
    display: flex;
    justify-content: space-between;
    height: 30px;

    .head-utils {
      display: flex;
  
      input {
        border-radius: 20px;
        width: 240px;
        border: 1px solid black;
        height: 30px;
        margin: 4px 8px;
        padding: 2px;
        background-image: url('/assets/courses/search.svg');
        background-size: 20px 30px;
        background-repeat: no-repeat;
        background-position: right;
        text-indent: 20px;
      }

      span {
        margin: 6px 6px;
      }
    }

    @media (max-width: 650px) {
      display: grid;
    }
  }

  .grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;

    .card {
      display: grid;
      justify-items: center;
      width: 100%; 
      overflow: hidden; 
      background: #fdf9f9;
      padding: 10px;
      margin-bottom: 70px;

      &:focus {
        box-shadow: 1px 10px 15px grey;
      }

      img {
        width: 215px;
        height: 200px;
      }

      strong {
        font-family: 'Philosopher';
      }

      .desc {
        font-size: 13px;
        width: 215px;
        height: 80px;
        line-height: 15px;
        margin-bottom: 2px;
      }

      .course-details {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        font-weight: bold;

        div {
          height: 20px;
          width: 70px;
        }

        img {
          width: 10px;
          height: 10px;
        }
      }

      .card:hover {
        box-shadow: 1px 10px 15px grey;
      }

      @media (max-width: 585px) {
        margin-right: 200px;
      }
    }

    @media (max-width: 780px) {
      width: 600px;
    }

    @media (max-width: 640px) {
      width: 520px;
    }
    
  }

  .grid-list-col3 > .card {
    width: 32%;

    @media (max-width: 900px) {
      width: 42%;
    }

    @media (max-width: 585px) {
      width: 55%;
    }
  }

}