<div class="container">
  <section class="head">
    <div class="head-title"><h3><strong>Public Speaking Guide</strong></h3></div>
    <div class="head-utils">
      <input type="text" id="search"/>
      <img src="/assets/courses/card-list.svg" alt="flex">
      <img src="/assets/courses/grid.svg" alt="grid">
    </div>
  </section>
  
  <section>
    <div class="grid-list  grid-list-col3">
      <div class="card">
        <img src="/assets/courses/course3.jpeg" alt="course image">
        <h5><strong>Public Speaking Guide</strong></h5>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam debitis quisquam, esse dolor dicta
          c</p>
          <div class="course-details">
            <div class="lesson">
              <img src="/assets/courses/calendar-range-fill.svg" alt="lessons">
              <span>12</span>
            </div>
            <div class="duration">
              <img src="/assets/courses/alarm.svg" alt="lessons">
              <span>1hr 30mins</span>
            </div>
            <div class="duration">
              <span>N10,000</span>
            </div>
          </div>
      </div>

      <div class="card">
        <img src="/assets/courses/course3.jpeg" alt="course image">
        <h5><strong>Public Speaking Guide</strong></h5>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam debitis quisquam, esse dolor dicta
          c</p>
          <div class="course-details">
            <div class="lesson">
              <img src="/assets/courses/calendar-range-fill.svg" alt="lessons">
              <span>12</span>
            </div>
            <div class="duration">
              <img src="/assets/courses/alarm.svg" alt="lessons">
              <span>1hr 30mins</span>
            </div>
            <div class="duration">
              <span>N10,000</span>
            </div>
          </div>
      </div>

      <div class="card">
        <img src="/assets/courses/course3.jpeg" alt="course image">
        <h5><strong>Public Speaking Guide</strong></h5>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam debitis quisquam, esse dolor dicta
          c</p>
          <div class="course-details">
            <div class="lesson">
              <img src="/assets/courses/calendar-range-fill.svg" alt="lessons">
              <span>12</span>
            </div>
            <div class="duration">
              <img src="/assets/courses/alarm.svg" alt="lessons">
              <span>1hr 30mins</span>
            </div>
            <div class="duration">
              <span>N10,000</span>
            </div>
          </div>
      </div>

      <div class="card">
        <img src="/assets/courses/course3.jpeg" alt="course image">
        <h5><strong>Public Speaking Guide</strong></h5>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam debitis quisquam, esse dolor dicta
          c</p>
          <div class="course-details">
            <div class="lesson">
              <img src="/assets/courses/calendar-range-fill.svg" alt="lessons">
              <span>12</span>
            </div>
            <div class="duration">
              <img src="/assets/courses/alarm.svg" alt="lessons">
              <span>1hr 30mins</span>
            </div>
            <div class="duration">
              <span>N10,000</span>
            </div>
          </div>
      </div>

      <div class="card">
        <img src="/assets/courses/course3.jpeg" alt="course image">
        <h5><strong>Public Speaking Guide</strong></h5>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam debitis quisquam, esse dolor dicta
          c</p>
          <div class="course-details">
            <div class="lesson">
              <img src="/assets/courses/calendar-range-fill.svg" alt="lessons">
              <span>12</span>
            </div>
            <div class="duration">
              <img src="/assets/courses/alarm.svg" alt="lessons">
              <span>1hr 30mins</span>
            </div>
            <div class="duration">
              <span>N10,000</span>
            </div>
          </div>
      </div>

      <div class="card">
        <img src="/assets/courses/course3.jpeg" alt="course image">
        <h5><strong>Public Speaking Guide</strong></h5>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam debitis quisquam, esse dolor dicta
          c</p>
          <div class="course-details">
            <div class="lesson">
              <img src="/assets/courses/calendar-range-fill.svg" alt="lessons">
              <span>12</span>
            </div>
            <div class="duration">
              <img src="/assets/courses/alarm.svg" alt="lessons">
              <span>1hr 30mins</span>
            </div>
            <div class="duration">
              <span>N10,000</span>
            </div>
          </div>
      </div>
    </div>
  </section>
</div>