<div class="login">
  <img routerLink="/" class="logo" src="../../../../assets/UACLLogo.png" alt=""/>
  <div class="intoText">Reset Password</div>
  <button class="continueWithGoogle">
    <img src="../../../../assets/auth/googleLogo.svg" alt=""/>
    <span>Continue with Google</span>
  </button>

  <form>
    <label class="input">
      <span>Password</span>
      <input type="password" autocomplete="">
    </label>

    <label class="input">
      <span>Re-enter Password</span>
      <input type="password" autocomplete="">
    </label>

    <button class="signInButton">Reset Password</button>
  </form>
</div>
