<div class="login">
  <img routerLink="/" class="logo" src="../../../../assets/UACLLogo.png" alt=""/>
  <div class="intoText">Reset Password</div>
  <div style="text-align: center">
    Hi there, you are one step away from resetting your password, kindly type a new password in the box bellow and confirm the password on the next box.
  </div>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <label class="input">
      <span>Password</span>
      <span class="passwordInput">
        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" autocomplete="" placeholder="Enter your password">
        <i *ngIf="!showPassword" (click)="showPassword = true" class="fa fa-eye"></i>
        <i *ngIf="showPassword" (click)="showPassword = false" class="fa fa-eye-slash"></i>
      </span>
    </label>

    <label class="input">
      <span>Re-enter Password</span>
      <span class="passwordInput">
        <input formControlName="confirmPassword" [type]="showPassword ? 'text' : 'password'" autocomplete="" placeholder="Enter your password">
        <i *ngIf="!showPassword" (click)="showPassword = true" class="fa fa-eye"></i>
        <i *ngIf="showPassword" (click)="showPassword = false" class="fa fa-eye-slash"></i>
      </span>
    </label>

    <button
      class="signInButton"
      [disabled]="this.resetPasswordForm.invalid || (this.resetPasswordForm.value.password !== this.resetPasswordForm.value.confirmPassword)"
    >Reset Password</button>
  </form>
</div>
