<div class="mainDiv">
  <div class="topDiv">
    <div>
      <h1>Public Speaking</h1>
      <div>
        <a href="https://wa.me/+2347032767180" target="_blank">Enrol</a>
      </div>
    </div>
    <div><img src="../../../../assets/services/publicSpeaking.jpeg" alt=""></div>
  </div>

  <div class="container">
    So many ideas have been buried in the grave because of the fear of public speaking. Our public speaking course helps
    speakers outgrow the stage of glossophobia (Fear of Public Speaking) and manage stage fright.This course isn’t just
    about teaching one how to speak in public. It deals with the psychology of understanding and analyzing one’s
    audience as this will help equip a speaker on what to expect from the audience and handle unexpected interruptions
    the best way. It also teaches speakers the different types of speeches and presentation methods, what to say to
    their respective audiences, how to say and when to say. This course has anyone covered when it comes to giving
    powerful presentations online, on a stage or at the work place.
  </div>
</div>
