<div class="aboutDiv">
  <div class="leftDiv"><img src="../../../assets/landingPage/slide5.jpeg" alt=""></div>
  <div class="rightDiv">
    <h1>ABOUT THE LEAD COACH</h1>
    <div>
Catherine Onyejiaka is the Co founder/Lead Coach at Unique Accent Consultancy Ltd. A Diction, Public Speaking, Customer Service and Professional Etiquette Coach.

She is as well the co founder of Unique Accent Children Hub, an online hub for children, which specializes in teaching children English Diction, Public Speaking, Poetry, Etiquette, Creative Writing and Book reading with over 500 registered children so far from different parts of the world.

She studied English Language at the Lagos State University (B.A) and in the process of getting certified by TESOL/TEFL to teach English Language in all countries of the world. She has as well undergone other business and professional courses.

So far, she has trained over five thousand individuals on Diction and Public Speaking, online and offline with participants from across the globe. This includes First ladies, Top CEOs, Bank Managers, Government officials, Corporate organizations and School Teachers and corporate organizations.

She has as well launched series of online courses on Diction, Public Speaking and Video Marketing.

She is a member of the board of Trustees of the Association of Diction Coaches of Nigeria.

In January 2020, she honoured an interview by BBC (British Broadcasting Council), where she spoke on the importance of teaching Diction in Nigeria.

She is a registered member of the John Maxwell team, Toastmasters International and the African Women Network (TAWN)

She is the author of the books (The Public Speaking Guide)

She is happily married with two beautiful daughters.    </div>
  </div>
</div>
