.aboutDiv {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px;
  background: #ffFFFF;
  box-shadow: 0 0 5px #ffFFFF;
  border: none;
  padding: 10px;

  .leftDiv {
    width: 100%;

   img {
     width: 100%;
     height: 1055px;

   }
  }

  .rightDiv {
    h1 {
      font-weight: bold;
    }

    div {
      font-size: 25px;
    }
  }
}
