<div class="contain">
  <div class="notice">
    <h1>That's all the questions we have for you</h1>

    <div>You’ve attempted 18 of 20 Questions</div>
  </div>

  <div>Click a number to change answer</div>
  <div class="buttons">
    <button class="answered">1</button>
    <button class="answered">2</button>
    <button class="answered">3</button>
    <button class="unanswered">4</button>
    <button class="answered">5</button>
    <button class="answered">6</button>
    <button class="answered">7</button>
    <button class="answered">8</button>
    <button class="answered">9</button>
    <button class="answered">10</button>
    <button class="answered">11</button>
    <button class="answered">12</button>
    <button class="answered">13</button>
    <button class="answered">14</button>
    <button class="answered">15</button>
    <button class="answered">16</button>
    <button class="answered">17</button>
    <button class="unanswered">18</button>
    <button class="answered">19</button>
<!--    <button class="answered">20</button>-->
  </div>

  <div class="details-btn">
    <button class="submit-btn btn-font">Submit Quiz</button>
  </div>
</div>
