<div class="mainDiv">
  <div class="topDiv">
    <div>
      <h1>Corporate Training</h1>
      <div>
        <a href="https://wa.me/+2347032767180" target="_blank">Enrol</a>
      </div>
    </div>
    <div><img src="../../../../assets/services/corporateTraining.jpeg" alt=""></div>
  </div>

  <div class="container">
    Training the members of staff of an organisation is as good as building the organisation. Corporate organisations
    can contact us for training on Diction and Elocution, Public Speaking, Professional Etiquette, and Customer Service.
    All of these are very important to the growth and development of any organisation.
  </div>
</div>
