
<div class="course-section" *ngIf="courseDetails">
  <div class="videoSection">
    <video #video [src]="currentLesson.video" controls [poster]="currentLesson.thumbnail"></video>
    <div class="courseList">
      <div
        class="course"
        *ngFor="let lessonsDetails of lessonList"
        (click)="currentLesson = lessonsDetails"
        [style]="{'background': lessonsDetails === currentLesson ? '#848484' : '#cfcfcf'}"
      >
        <div class="thumbnail">
            <img [src]="lessonsDetails.thumbnail" alt="">
          </div>
          <div class="details">
            <div class="title">{{lessonsDetails.title}}</div>
            <div class="duration">
              <i class="fa fa-play-circle"></i>
              <span>{{lessonsDetails.duration}}min</span>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="course-desc">
      <h1>{{currentLesson.title}}</h1>
      <div>{{currentLesson.description}}</div>
    </div>

    <div class="comment-section">
      <h2>Comments</h2>
      <textarea name="comment" id="" cols="50" rows="20"></textarea>
      <div class="postButton">
        <button class="btn">Post</button>
      </div>
    </div>

    <div class="comment-details">
      <div class="user">
        <h5>Victor</h5>
        <button>User</button>
      </div>
      <div class="comment">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsum sint qui voluptas pariatur expedita laudantium voluptates voluptate accusamus atque.</p>
        <div class="comment-reply">
          <div class="user">
            <h5>Maxwell</h5>
            <button class="admin">Admin</button>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur provident accusantium inventore impedit? Quidem illo ea veniam!</p>
        </div>
        <div class="comment-reply">
          <div class="user">
            <h5>Samson</h5>
            <button>User</button>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur provident accusantium inventore impedit? Quidem illo ea veniam!</p>
        </div>
        <div class="reply-action">
          <input type="text">
          <button class="btn">Post</button>
        </div>
      </div>
    </div>
  </div>

</div>
