<div class="contain">
  <div class="course-section">
    <img src="/assets/courses/course3.jpeg" alt="">
    <div class="course-desc">
      <h2>Public Speaking Guide</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur necessitatibus sequi fugit recusandae dolores quos voluptatem cum, rem neque culpa doloremque corporis consequuntur? Fugiat harum ullam consequuntur maiores ratione voluptas exercitationem quos alias aspernatur possimus voluptates quibusdam enim eos, neque sit repellendus corrupti beatae sunt sapiente fugit iste assumenda? Quidem, accusamus cupiditate saepe molestias quae nesciunt fugit quaerat optio repellendus soluta similique enim quo odio omnis reprehenderit exercitationem numquam cumque nisi expedita quas voluptate, distinctio culpa nihil ex. Animi voluptate perferendis veniam, nam tempore suscipit doloribus officiis velit eveniet aperiam saepe fugiat amet ea laborum quibusdam ipsa possimus numquam soluta?</p>
    </div>
    <div class="comment-section">
      <h2>Comments</h2>
      <textarea name="comment" id="" cols="50" rows="20"></textarea>
      <button class="btn">Post</button>
    </div>
    <div class="comment-details">
      <div class="user">
        <h5>Victor</h5>
        <button>User</button>
      </div>
      <div class="comment">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsum sint qui voluptas pariatur expedita laudantium voluptates voluptate accusamus atque.</p>
        <div class="comment-reply">
          <div class="user">
            <h5>Maxwell</h5>
            <button class="admin">Admin</button>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur provident accusantium inventore impedit? Quidem illo ea veniam!</p>
        </div>
        <div class="comment-reply">
          <div class="user">
            <h5>Samson</h5>
            <button>User</button>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur provident accusantium inventore impedit? Quidem illo ea veniam!</p>
        </div>
        <div class="reply-action">
          <input type="text">
          <button class="btn">Post</button>
        </div>
      </div>
    </div>
  </div>
  <div class="list">
    <ul>
      <li class="section-list">
        <h4><strong>1. Introduction To Phonics</strong></h4>
        <p>37 mins</p>
      </li>
      <li class="section-list">
        <h4><strong>1. Introduction To Phonics</strong></h4>
        <p>37 mins</p>
      </li>
      <li class="section-list">
        <h4><strong>1. Introduction To Phonics</strong></h4>
        <p>37 mins</p>
      </li>
      <li class="section-list">
        <h4><strong>1. Introduction To Phonics</strong></h4>
        <p>37 mins</p>
      </li>
      <li class="section-list">
        <h4><strong>1. Introduction To Phonics</strong></h4>
        <p>37 mins</p>
      </li>
      <li class="section-list">
        <h4><strong>1. Introduction To Phonics</strong></h4>
        <p>37 mins</p>
      </li>
      <li class="section-list">
        <h4><strong>1. Introduction To Phonics</strong></h4>
        <p>37 mins</p>
      </li>
      <li class="section-list">
        <h4><strong>1. Introduction To Phonics</strong></h4>
        <p>37 mins</p>
      </li>
      <li class="section-list">
        <h4><strong>1. Introduction To Phonics</strong></h4>
        <p>37 mins</p>
      </li>
      <li class="section-list">
        <h4><strong>1. Introduction To Phonics</strong></h4>
        <p>37 mins</p>
        <li class="section-list">
          <h4><strong>1. Introduction To Phonics</strong></h4>
          <p>37 mins</p>
        </li>
        <li class="section-list">
          <h4><strong>1. Introduction To Phonics</strong></h4>
          <p>37 mins</p>
        </li>
        <li class="section-list">
          <h4><strong>1. Introduction To Phonics</strong></h4>
          <p>37 mins</p>
      </li>
    </ul>
  </div>
</div>