<div class="login">
  <img routerLink="/" class="logo" src="../../../../assets/UACLLogo.png" alt=""/>
  <div class="intoText">Join Unique Accent</div>
  <button class="continueWithGoogle">
    <img src="../../../../assets/auth/googleLogo.svg" alt=""/>
    <span>Continue with Google</span>
  </button>

  <form>
    <label class="input">
      <span>Name</span>
      <input type="text">
    </label>

    <label class="input">
      <span>Email Address</span>
      <input type="email">
    </label>

    <label class="input">
      <span>Password</span>
      <input type="password" autocomplete="">
    </label>

    <button class="signInButton">Register</button>
  </form>
  <div class="registerMobile" routerLink="../login">Already a member? Login</div>




</div>
<div class="register" routerLink="../login">Already a member? Login</div>
