<div class="contain">
  <section id="topDiv">
    <h1>Public Speaking Guide</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint inventore quidem sequi aliquid qui recusandae alias
      totam debitis velit eum. Possimus odio cupiditate accusantium inventore repudiandae officiis veniam fuga
      repellendus voluptates ratione cum voluptatum, soluta exercitationem impedit est doloribus nulla voluptatibus
      provident autem perspiciatis nobis amet rerum reiciendis voluptas. Debitis!</p>

      <div class="btn-btn">
        <button>Buy Course</button>
       <button>Continue Learning</button>
      </div>
  </section>

  <section>
      <div class="bottomDiv">
          <div class="table">
              <div class="table-row">
                    <div class="thumbnail">
                      <h5>Thumbnail</h5>
                    </div>
                    <div class="title">
                      <h5>Title</h5>
                    </div>
                    <div class="duration">
                    <h5>Duration</h5>
                    </div>
                </div>  
              <div class="table-row">
                    <div class="thumbnail">
                      <img src="/assets/courses/course3.jpeg" alt="">
                    </div>
                    <div class="title">
                      <h4><strong>Public Speaking Guide</strong></h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam debitis quisquam, esse dolor dicta
                        c   orrupti nisi laudantium nostrum iste fugiat aliquam reprehenderit natus minima! Enim inventore deleniti nobis
                        explicabo incidunt esse beatae
                      </p>
                    </div>  
                    <div class="duration">
                    <span>15hrs 30mins</span>
                    </div>
              </div>
              <div class="table-row">
                <div class="thumbnail">
                  <img src="/assets/courses/course3.jpeg" alt="">
                </div>
                <div class="title">
                  <h4><strong>Public Speaking Guide</strong></h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam debitis quisquam, esse dolor dicta
                    c   orrupti nisi laudantium nostrum iste fugiat aliquam reprehenderit natus minima! Enim inventore deleniti nobis
                    explicabo incidunt esse beatae
                  </p>
                </div>  
                <div class="duration">
                <span>15hrs 30mins</span>
                </div>
              </div>
              <div class="table-row">
                <div class="thumbnail">
                  <img src="/assets/courses/course3.jpeg" alt="">
                </div>
                <div class="title">
                  <h4><strong>Public Speaking Guide</strong></h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam debitis quisquam, esse dolor dicta
                    c   orrupti nisi laudantium nostrum iste fugiat aliquam reprehenderit natus minima! Enim inventore deleniti nobis
                    explicabo incidunt esse beatae
                  </p>
                </div>  
                <div class="duration">
                <span>15hrs 30mins</span>
                </div>
              </div>
              <div class="table-row">
                <div class="thumbnail">
                  <img src="/assets/courses/course3.jpeg" alt="">
                </div>
                <div class="title">
                  <h4><strong>Public Speaking Guide</strong></h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam debitis quisquam, esse dolor dicta
                    c   orrupti nisi laudantium nostrum iste fugiat aliquam reprehenderit natus minima! Enim inventore deleniti nobis
                    explicabo incidunt esse beatae
                  </p>
                </div>  
                <div class="duration">
                <span>15hrs 30mins</span>
                </div>
              </div>
           </div>
           <div class="video-contain">
            <img src="/assets/courses/course4.jpeg" alt="video image">
           </div>
      </div>
  </section>
</div>