<main>
  <div class="row1">
    <div>
      <div class="introText">SPEAK WITH ELOQUENCE AND CONFIDENCE</div>
      <div class="subIntro">
        Speaking right makes you communicate better, socially and professionally. It boosts your credibility and shows a
        high level of intelligibility. It gives you a competitive advantage in the business world and makes you heard even
        in the midst of noise.
      </div>
    </div>

    <div>
      <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/landingPage/slide1.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/landingPage/slide7.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/landingPage/slide2.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/landingPage/slide3.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/landingPage/slide4.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/landingPage/slide5.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/landingPage/slide6.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-mdb-target="#carouselExampleControls"
          data-mdb-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-mdb-target="#carouselExampleControls"
          data-mdb-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row2">
    <h1>Our Services</h1>
    <div class="serviceList">
      <div class="service" routerLink="services/service-details">
        <img src="../../../assets/services/dictionTraining.jpeg" alt=""/>
        <div class="title">Diction Training</div>
        <div class="description">
          <span>Speaking is undoubtedly one of the best ways to communicate. Ironically, some people speak but only few can communicate effectively</span>
          <div class="readMore">Read more</div>
        </div>
      </div>

      <div class="service" routerLink="services/service-details2">
        <img src="../../../assets/services/publicSpeaking.jpeg" alt=""/>
        <div class="title">Public Speaking</div>
        <div class="description">
          <span>So many ideas have been buried in the grave because of the fear of public speaking. Our public speaking course helps...</span>
          <div class="readMore">Read more</div>
        </div>
      </div>

      <div class="service" routerLink="services/service-details3">
        <img src="../../../assets/services/onlineChildrenHub.jpeg" alt=""/>
        <div class="title">Children Hub</div>
        <div class="description">
          <span>Would you want your child to learn to speak the English language eloquently and confidently? Do you have a child...</span>
          <div class="readMore">Read more</div>
        </div>
      </div>

      <div class="service" routerLink="services/service-details4">
        <img src="../../../assets/services/customerServiceTraining.jpeg" alt=""/>
        <div class="title">Customer Service</div>
        <div class="description">
          <span>Everyone sells one thing or the other. It could be a product or a service. In doing this, the importance of customer relationship...</span>
          <div class="readMore">Read more</div>
        </div>
      </div>
    </div>

    <div class="serviceListAccordion">
      <mat-accordion>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">Diction Training</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <img src="../../../assets/services/dictionTraining.jpeg" alt=""/>
          <div class="description">
            <span>Speaking is undoubtedly one of the best ways to communicate. Ironically, some people speak but only few can communicate effectively</span>
            <div class="readMore" routerLink="services/service-details">Read more</div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">Public Speaking</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <img src="../../../assets/services/publicSpeaking.jpeg" alt=""/>
          <div class="description">
            <span>So many ideas have been buried in the grave because of the fear of public speaking. Our public speaking course helps...</span>
            <div class="readMore" routerLink="services/service-details2">Read more</div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">Children Hub</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <img src="../../../assets/services/onlineChildrenHub.jpeg" alt=""/>
          <div class="description">
            <span>Would you want your child to learn to speak the English language eloquently and confidently? Do you have a child...</span>
            <div class="readMore" routerLink="services/service-details3">Read more</div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">Customer Service</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <img src="../../../assets/services/customerServiceTraining.jpeg" alt=""/>
          <div class="description">
            <span>Everyone sells one thing or the other. It could be a product or a service. In doing this, the importance of customer relationship...</span>
            <div class="readMore" routerLink="services/service-details4">Read more</div>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </div>

  </div>

  <div class="row3">
    <h1>Upcoming Events</h1>
    <div>
      <div id="upcomingEvents" class="carousel slide" data-mdb-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row d-block w-100" style="display: flex!important;">
              <div class="col-md-6">
                <img src="../../../assets/upcoming-events/event1.jpg" alt="">
              </div>
              <div class="col-md-6">
                <h1 class="title">Become an Eloquent and Confident Speaker</h1>
                <h2 class="subTitle">Diction and Public Speaking</h2>
                <div class="description">Some short description goes here. Some short description goes here. Some short description goes here. Some short description goes here. Some short description goes here. </div>
                <div class="buttons">
                  <button class="learnMore">Learn more</button>
                  <button class="actionButton">Register</button>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row d-block w-100" style="display: flex!important;">
              <div class="col-md-6">
                <img style="width: 100%; height: auto; display: block; margin: auto" src="../../../assets/upcoming-events/event2.jpg" alt="">
              </div>
              <div class="col-md-6">
                <h1 class="title">Unique Accent Children Hub April Batch</h1>
                <h2 class="subTitle">Children Hub</h2>
                <div class="description">Some short description goes here. Some short description goes here. Some short description goes here. Some short description goes here. Some short description goes here. </div>
                <div class="buttons">
                  <button class="learnMore">Learn more</button>
                  <button class="actionButton">Register</button>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row d-block w-100" style="display: flex!important;">
              <div class="col-md-6">
                <img style="width: 100%; height: auto; display: block; margin: auto" src="../../../assets/upcoming-events/event3.jpg" alt="">
              </div>
              <div class="col-md-6 details">
                <h1 class="title">One on Onw Diction Training with Unique Catherine</h1>
                <h2 class="subTitle">Online Diction Class</h2>
                <div class="description">Some short description goes here. Some short description goes here. Some short description goes here. Some short description goes here. Some short description goes here. </div>
                <div class="buttons">
                  <button class="learnMore">Learn more</button>
                  <button class="actionButton">Register</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-mdb-target="#upcomingEvents"
          data-mdb-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-mdb-target="#upcomingEvents"
          data-mdb-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row4">
    <h1>Testimonials</h1>

    <mat-tab-group mat-align-tabs="center" dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">textsms</mat-icon>
          Text
        </ng-template>

        <div class="textTestimonial">
          <div id="textTestimonial" class="carousel slide" data-mdb-ride="carousel">
            <div class="carousel-indicators">
              <button
                type="button"
                data-mdb-target="#textTestimonial"
                data-mdb-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-mdb-target="#textTestimonial"
                data-mdb-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-mdb-target="#textTestimonial"
                data-mdb-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div>
                    <mat-card class="testimonial">
                      <mat-card-header>
                        <div mat-card-avatar class="image">
                          <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">
                        </div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p>
                      </mat-card-content>
                    </mat-card>

                    <mat-card class="testimonial">
                      <mat-card-header>
                        <div mat-card-avatar class="image">
                          <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">
                        </div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p>
                      </mat-card-content>
                    </mat-card>

                    <mat-card class="testimonial">
                      <mat-card-header>
                        <div mat-card-avatar class="image">
                          <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">
                        </div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p>
                      </mat-card-content>
                    </mat-card>

                    <mat-card class="testimonial">
                      <mat-card-header>
                        <div mat-card-avatar class="image">
                          <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">
                        </div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p>
                      </mat-card-content>
                    </mat-card>


                  </div>
              </div>
              <div class="carousel-item">
                <div>
                  <mat-card class="testimonial">
                    <mat-card-header>
                      <div mat-card-avatar class="image">
                        <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">
                      </div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>

                  <mat-card class="testimonial">
                    <mat-card-header>
                      <div mat-card-avatar class="image">
                        <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">
                      </div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>

                  <mat-card class="testimonial">
                    <mat-card-header>
                      <div mat-card-avatar class="image">
                        <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">
                      </div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>

                  <mat-card class="testimonial">
                    <mat-card-header>
                      <div mat-card-avatar class="image">
                        <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">
                      </div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>


                </div>
              </div>
              <div class="carousel-item">
                <div>
                  <mat-card class="testimonial">
                    <mat-card-header>
                      <div mat-card-avatar class="image">
                        <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">
                      </div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>

                  <mat-card class="testimonial">
                    <mat-card-header>
                      <div mat-card-avatar class="image">
                        <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">
                      </div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>

                  <mat-card class="testimonial">
                    <mat-card-header>
                      <div mat-card-avatar class="image">
                        <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">
                      </div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>

                  <mat-card class="testimonial">
                    <mat-card-header>
                      <div mat-card-avatar class="image">
                        <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="">
                      </div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>


                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-mdb-target="#textTestimonial"
              data-mdb-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-mdb-target="#textTestimonial"
              data-mdb-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">videocam</mat-icon>
          Video
        </ng-template>
        <div class="videoTestimonial">
          <div>
            <iframe style="aspect-ratio: 4 / 8" src="https://www.youtube.com/embed/cffrN2THny8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div>Gloria</div>
          </div>

          <div>
            <iframe style="aspect-ratio: 16 / 9" src="https://www.youtube.com/embed/q2ZJ06gGfv0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div>Abigael</div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="row5 row">
    <div class="col-md-4" style="text-align: center">
      <h1>Courses</h1>
      <div>Learn from an award winning diction coach.</div>

      <img class="coach" src="../../../assets/courses/catherine.png" alt=""/>
    </div>
    <div class="col-md-8 row courses">
      <div class="col-md-6">
        <img routerLink="/courses/course-details" src="../../../assets/courses/course1.jpeg" alt="">
      </div>
      <div class="col-md-6">
        <img routerLink="/courses/course-details2" src="../../../assets/courses/course2.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img routerLink="/courses/course-details3" src="../../../assets/courses/course3.jpeg" alt="">
      </div>
      <div class="col-md-6">
        <img routerLink="/courses/course-details4" src="../../../assets/courses/course4.jpeg" alt="">
      </div>
    </div>
  </div>

<!--  <div class="row6">-->
<!--    <h1>Our Clients</h1>-->
<!--    <div>-->
<!--      &lt;!&ndash; Carousel wrapper &ndash;&gt;-->
<!--      <div-->
<!--        id="carouselMultiItemExample"-->
<!--        class="carousel slide carousel-dark text-center"-->
<!--        data-mdb-ride="carousel"-->
<!--      >-->
<!--        &lt;!&ndash; Controls &ndash;&gt;-->
<!--        <div class="d-flex justify-content-center mb-4">-->
<!--          <button-->
<!--            class="carousel-control-prev position-relative"-->
<!--            type="button"-->
<!--            data-mdb-target="#carouselMultiItemExample"-->
<!--            data-mdb-slide="prev"-->
<!--          >-->
<!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--            <span class="visually-hidden">Previous</span>-->
<!--          </button>-->
<!--          <button-->
<!--            class="carousel-control-next position-relative"-->
<!--            type="button"-->
<!--            data-mdb-target="#carouselMultiItemExample"-->
<!--            data-mdb-slide="next"-->
<!--          >-->
<!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--            <span class="visually-hidden">Next</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        &lt;!&ndash; Inner &ndash;&gt;-->
<!--        <div class="carousel-inner py-4">-->
<!--          &lt;!&ndash; Single item &ndash;&gt;-->
<!--          <div class="carousel-item active">-->
<!--            <div class="container">-->
<!--              <div class="row">-->
<!--                <div class="col-lg-4">-->
<!--                  <div class="card">-->
<!--                    <img-->
<!--                      src="https://mdbootstrap.com/img/new/standard/nature/181.jpg"-->
<!--                      class="card-img-top"-->
<!--                      alt="..."-->
<!--                    />-->
<!--                    <div class="card-body">-->
<!--                      <h5 class="card-title">Card title</h5>-->
<!--                      <p class="card-text">-->
<!--                        Some quick example text to build on the card title and make up the bulk-->
<!--                        of the card's content.-->
<!--                      </p>-->
<!--                      <a href="#!" class="btn btn-primary">Button</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 d-none d-lg-block">-->
<!--                  <div class="card">-->
<!--                    <img-->
<!--                      src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"-->
<!--                      class="card-img-top"-->
<!--                      alt="..."-->
<!--                    />-->
<!--                    <div class="card-body">-->
<!--                      <h5 class="card-title">Card title</h5>-->
<!--                      <p class="card-text">-->
<!--                        Some quick example text to build on the card title and make up the bulk-->
<!--                        of the card's content.-->
<!--                      </p>-->
<!--                      <a href="#!" class="btn btn-primary">Button</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 d-none d-lg-block">-->
<!--                  <div class="card">-->
<!--                    <img-->
<!--                      src="https://mdbootstrap.com/img/new/standard/nature/183.jpg"-->
<!--                      class="card-img-top"-->
<!--                      alt="..."-->
<!--                    />-->
<!--                    <div class="card-body">-->
<!--                      <h5 class="card-title">Card title</h5>-->
<!--                      <p class="card-text">-->
<!--                        Some quick example text to build on the card title and make up the bulk-->
<!--                        of the card's content.-->
<!--                      </p>-->
<!--                      <a href="#!" class="btn btn-primary">Button</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          &lt;!&ndash; Single item &ndash;&gt;-->
<!--          <div class="carousel-item">-->
<!--            <div class="container">-->
<!--              <div class="row">-->
<!--                <div class="col-lg-4 col-md-12">-->
<!--                  <div class="card">-->
<!--                    <img-->
<!--                      src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"-->
<!--                      class="card-img-top"-->
<!--                      alt="..."-->
<!--                    />-->
<!--                    <div class="card-body">-->
<!--                      <h5 class="card-title">Card title</h5>-->
<!--                      <p class="card-text">-->
<!--                        Some quick example text to build on the card title and make up the bulk-->
<!--                        of the card's content.-->
<!--                      </p>-->
<!--                      <a href="#!" class="btn btn-primary">Button</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 d-none d-lg-block">-->
<!--                  <div class="card">-->
<!--                    <img-->
<!--                      src="https://mdbootstrap.com/img/new/standard/nature/185.jpg"-->
<!--                      class="card-img-top"-->
<!--                      alt="..."-->
<!--                    />-->
<!--                    <div class="card-body">-->
<!--                      <h5 class="card-title">Card title</h5>-->
<!--                      <p class="card-text">-->
<!--                        Some quick example text to build on the card title and make up the bulk-->
<!--                        of the card's content.-->
<!--                      </p>-->
<!--                      <a href="#!" class="btn btn-primary">Button</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 d-none d-lg-block">-->
<!--                  <div class="card">-->
<!--                    <img-->
<!--                      src="https://mdbootstrap.com/img/new/standard/nature/186.jpg"-->
<!--                      class="card-img-top"-->
<!--                      alt="..."-->
<!--                    />-->
<!--                    <div class="card-body">-->
<!--                      <h5 class="card-title">Card title</h5>-->
<!--                      <p class="card-text">-->
<!--                        Some quick example text to build on the card title and make up the bulk-->
<!--                        of the card's content.-->
<!--                      </p>-->
<!--                      <a href="#!" class="btn btn-primary">Button</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          &lt;!&ndash; Single item &ndash;&gt;-->
<!--          <div class="carousel-item">-->
<!--            <div class="container">-->
<!--              <div class="row">-->
<!--                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">-->
<!--                  <div class="card">-->
<!--                    <img-->
<!--                      src="https://mdbootstrap.com/img/new/standard/nature/187.jpg"-->
<!--                      class="card-img-top"-->
<!--                      alt="..."-->
<!--                    />-->
<!--                    <div class="card-body">-->
<!--                      <h5 class="card-title">Card title</h5>-->
<!--                      <p class="card-text">-->
<!--                        Some quick example text to build on the card title and make up the bulk-->
<!--                        of the card's content.-->
<!--                      </p>-->
<!--                      <a href="#!" class="btn btn-primary">Button</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">-->
<!--                  <div class="card">-->
<!--                    <img-->
<!--                      src="https://mdbootstrap.com/img/new/standard/nature/188.jpg"-->
<!--                      class="card-img-top"-->
<!--                      alt="..."-->
<!--                    />-->
<!--                    <div class="card-body">-->
<!--                      <h5 class="card-title">Card title</h5>-->
<!--                      <p class="card-text">-->
<!--                        Some quick example text to build on the card title and make up the bulk-->
<!--                        of the card's content.-->
<!--                      </p>-->
<!--                      <a href="#!" class="btn btn-primary">Button</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">-->
<!--                  <div class="card">-->
<!--                    <img-->
<!--                      src="https://mdbootstrap.com/img/new/standard/nature/189.jpg"-->
<!--                      class="card-img-top"-->
<!--                      alt="..."-->
<!--                    />-->
<!--                    <div class="card-body">-->
<!--                      <h5 class="card-title">Card title</h5>-->
<!--                      <p class="card-text">-->
<!--                        Some quick example text to build on the card title and make up the bulk-->
<!--                        of the card's content.-->
<!--                      </p>-->
<!--                      <a href="#!" class="btn btn-primary">Button</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Inner &ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash; Carousel wrapper &ndash;&gt;-->
<!--&lt;!&ndash;      <button (click)="moveLeft()">Prev</button>&ndash;&gt;-->
<!--&lt;!&ndash;      <drag-scroll [scroll-x-wheel-enabled]="true">&ndash;&gt;-->
<!--&lt;!&ndash;        <img drag-scroll-item src="../../../assets/clients/client1.jpeg" alt=""/>&ndash;&gt;-->
<!--&lt;!&ndash;        <img drag-scroll-item src="../../../assets/clients/client2.jpeg" alt=""/>&ndash;&gt;-->
<!--&lt;!&ndash;        <img drag-scroll-item src="../../../assets/clients/client3.jpeg" alt=""/>&ndash;&gt;-->
<!--&lt;!&ndash;        <img drag-scroll-item src="../../../assets/clients/client4.jpeg" alt=""/>&ndash;&gt;-->
<!--&lt;!&ndash;        <img drag-scroll-item src="../../../assets/clients/client5.jpeg" alt=""/>&ndash;&gt;-->
<!--&lt;!&ndash;        <img drag-scroll-item src="../../../assets/clients/client6.jpeg" alt=""/>&ndash;&gt;-->
<!--&lt;!&ndash;        <img drag-scroll-item src="../../../assets/clients/client7.jpeg" alt=""/>&ndash;&gt;-->
<!--&lt;!&ndash;      </drag-scroll>&ndash;&gt;-->
<!--&lt;!&ndash;      <button (click)="moveRight()">Next</button>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
</main>
