<main>
  <section class="first-section">
    <div class="quiz-details">
      <h1 class="title">{{quizDetails.organisation}}</h1>
      <div class="table">
        <div class="table-row">
          <div class="table-data table-head">Start Date</div>
          <div class="table-data">{{quizDetails.startDate | date}}</div>
        </div>
        <div class="table-row">
          <div class="table-data table-head">End Date</div>
          <div class="table-data">{{quizDetails.endDate | date}}</div>
        </div>
        <div class="table-row">
          <div class="table-data table-head">Start Time</div>
          <div class="table-data">{{quizDetails.startDate | date: 'hh:mm a'}}</div>
        </div>
        <div class="table-row">
          <div class="table-data table-head">End Time</div>
          <div class="table-data">{{quizDetails.endDate | date: 'hh:mm a'}}</div>
        </div>
        <div class="table-row">
          <div class="table-data table-head">Duration</div>
          <div class="table-data">{{quizDetails.duration}}</div>
        </div>
        <div class="table-row">
          <div class="table-data table-head">Questions</div>
          <div class="table-data">{{quizDetails.question}}</div>
        </div>
      </div>
    </div>

    <img [src]="quizDetails.organisationLogo" alt="">
  </section>

  <div class="intro">
    <h4 class="table-head">Instruction</h4>
    <p>
      {{quizDetails.instruction}}
    </p>
  </div>

  <div class="bottomBox">
    <div class="details">
      <div class="name">Candidate Name</div>
      <input type="text">
      <button routerLink="/quiz/quiz1">Start Quiz</button>
    </div>
  </div>
</main>
<!--duration: 30-->
<!--endDate: "2021-07-13T08:10:00Z"-->
<!--id: 12-->
<!--instruction: "do it well"-->
<!--organisation: "Softcode"-->
<!--organisationLogo: "https://uniqueaccent.com.ng/assets/UACLLogo.png"-->
<!--passCode: null-->
<!--question: 7-->
<!--quizQuestions: [{id: 4, questionNo: -2, question: "Do you like bread and akara or akara and pap?", maxScore: 30,…},…]-->
<!--slug: "design-tips"-->
<!--startDate: "2021-07-12T08:11:00Z"-->
<!--title: "Design Tips"-->
