.main {
  padding: 0 5vw;
  .title {
    font-family: 'Philosopher', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 30px 20px;
  }

  .services {
    background: white;
    margin: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #0a0a0a;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > :first-child {
      text-align: center;

      img {
        height: 200px;
      }
    }

    .aboutServices {
      font-weight: bold;
      font-size: 1.17em;

      h1 {
        font-weight: 600;
      }
    }

    > :last-child {
      text-align: center;

      .readMoreButton {
        cursor: pointer;
        border-radius: 10px;
        background-color: #FF6600;
        box-shadow: 0 0 #FF6600;
        border: none;
        color: #212529;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
      }
    }
  }

}
