<div class="mainDiv">
  <div class="topDiv">
    <div>
      <h1>School Consultancy</h1>
      <div>
        <a href="https://wa.me/+2347032767180" target="_blank">Enrol</a>
      </div>
    </div>
    <div><img src="../../../../assets/services/schoolConsultation.jpeg" alt=""></div>
  </div>

  <div class="container">
    The best time to teach children to speak right and observe basic etiquette is when they are young. We offer diction
    and basic etiquette classes to schools. This also includes, assembly presentations by our Instructors or
    pupils/students, organising spelling and pronunciation competitions, organising debates, creating Diction/Elocution
    club and being involved in any extracurricular activity that has to do with speaking the English Language.
  </div>
</div>
