<div class="container">
  <section class="table">
    <div [routerLink]="'/courses/' + course.slug" class="table-row" *ngFor="let course of allCourses">
      <div class="img-title">
        <div class="thumbnail">
          <img [src]="course.thumbnail" alt="" />
        </div>
        <div class="title">
          <h4><strong>{{course.title}}</strong></h4>
         <div class="desc">{{course.description.substr(0, 100).trim()}}{{course.description.length > 100 ? '...' : ''}}</div>
        </div>
      </div>
      <div class="course-details">
        <div class="lessons">
          <div>
            <i class="far fa-file-video "></i>
            {{course.lessons}}
          </div>
        </div>
        <div class="duration">
          <div>
            <i class="far fa-clock "></i>
            {{(course.duration / 60).toString().split('.')[0]}}mins {{course.duration - ((course.duration / 60).toString().split('.')[0] * 60)}}sec
          </div>
        </div>
        <div class="price">
          <div>{{course.price  | currency:'₦'}}</div>
        </div>
      </div>
    </div>
      <div class="buttons">

        <button ><i class="fas fa-chevron-left"></i>Prev</button>
        <button>Next<i class="fas fa-chevron-right"></i></button>
      </div>
  </section>
</div>
