.container {
  width: 100%;
  display: flex;
  justify-content: center;

  .table {
    .table-row {
      display: flex;
      width: 100%;
      margin: 10px 0;
      cursor: pointer;
      background: #f1f1f1;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 0 #FFFFFF;
      transition: linear 200ms box-shadow, linear 200ms background;;

      &:hover{
        box-shadow: 0 0 10px 5px #aaaaaa;
        background: white;
        transition: linear 200ms box-shadow, linear 200ms background;
      }

      @media (max-width: 1090px) {
        display: grid;
        width: fit-content!important;
        margin: 25px auto;
      }

      .head-row {
        width: 100%;
        display: flex;
        justify-content: space-around;

        @media (max-width: 1220px) {
          width: 1030px;
        }

        @media (max-width: 950px) {
          display: none;
        }

        .tit {
          width: 570px;

          @media (max-width: 1220px) {
            width: 300px;
          }
        }

        .lessons {

          @media (max-width: 1220px) {
            h5 {
              margin-right: 0;
              margin-left: 45px;
             }
          }
        }
      }

      .tit {
        width: 600px;
      }

      .img-title {
        display: flex;

        .thumbnail > h5 {
          padding-left: 0;
        }

        img {
          width: 110px;
          height: 110px;
          padding: 0;
        }

        .title {
          width: 500px;
          margin-left: 55px;

          h4,
          p {
            padding: 0;
            margin-bottom: 0;
          }

          h5 {
            padding-left: 8px;
          }

          @media (max-width: 1220px) {
            width: 380px;
            margin-left: 20px;
          }

          @media (max-width: 560px) {
            width: 200px;
            height: 120px;
            overflow: hidden;
          }
        }
      }
      .course-details {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-left: 120px;

        @media (max-width: 1220px) {
          margin-left: 30px;
        }

        @media (max-width: 950px) {
          margin-left: 132px;
        }

        @media (max-width: 560px) {
          margin-left: 0;
        }

      }

      div {
        padding: 0;
      }

      h5 {
        font-weight: bolder;
      }
    }
  }
  .buttons{
    margin-left: 450px;

    button{
      margin: 10px;
      width: 150px;
      background-color: #ff6600;
      font-weight: bold;
      font-size: 1.3em;
      border-radius: 10px;
    }
  }
}
