.login {
  width: 500px;
  height: fit-content;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  background: rgba(235, 235, 235, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  @media (max-width: 500px) {
    width: 100vw;
    height: 100vh;
    padding: 30px;
    border-radius: 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    @media (max-width: 500px) {
      width: 100px;
    }
  }

  .intoText {
    font-weight: 900;
    font-size: 1.5em;
    margin: 10px 0;
    font-family: 'Philosopher', sans-serif;
  }

  .continueWithGoogle {
    border: #b0b0b0 solid 1px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 6px;
    padding: 13px 30px;
    display: flex;
    gap: 0 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 900;
    margin: 10px 0;
    span {
      font-family: 'Philosopher', sans-serif;
      color: #3b3b3b;
    }
    img {
      width: 20px;
      height: auto;
    }
  }

  .or {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20%;
    hr {
      border: solid #676767 1px;
      width: 100%;
    }
    span {
      position: absolute;
      width: 30px;
      height: 30px;
      display: grid;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background: #e7e7e7;
      border: solid rgba(103, 103, 103, 0.25) 1px;
      color: #676767;
    }
  }

  form {
    width: 100%;
    .input {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 10px 0;

      > input {
        border: #b0b0b0 solid 1px;
        border-radius: 5px;
        padding: 5px;
        height: 51px;
        background: rgba(255, 255, 255, 0.5);
      }
      .passwordInput {
        border: #b0b0b0 solid 1px;
        border-radius: 5px;
        padding: 5px;
        height: 51px;
        background: rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        input {
          width: 100%;
          border: none;
          background: rgba(255,255,255,0);
        }
        i {
          display: grid;
          width: 50px;
          height: 100%;
          cursor: pointer;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .signInButton {
      border: none;
      background: rgba(255, 102, 0, 0.8);
      border-radius: 5px;
      font-weight: 900;
      box-shadow: rgba(0, 0, 0, 0.2) 0 3px 6px;
      padding: 13px 30px;
      display: flex;
      color: #fafafa;
      gap: 0 5px;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 15px 0;
      span {
        font-family: 'Philosopher', sans-serif;
      }
      img {
        width: 20px;
        height: auto;
      }
    }
  }

  .register {
    margin: 10px 0;
    color: #000000;
    text-align: center;
    font-weight: 900;
    display: block;
    span {
      color: #0087ff;
      cursor: pointer;
    }
  }
}
