<div class="login">
  <img routerLink="/" class="logo" src="../../../../assets/UACLLogo.png" alt=""/>
  <div class="intoText">Forgot Password</div>

  <form>
    <label class="input">
      <span>Enter Email Address</span>
      <input type="email" autocomplete="">
    </label>

    <button class="signInButton">Submit</button>
  </form>
  <div class="registerMobile" routerLink="../login">Remember password? Login.</div>
</div>
<div class="register" routerLink="../login">Remember password? Login.</div>
