<div class="login">
  <img routerLink="/" class="logo" src="../../../../assets/UACLLogo.png" alt=""/>
  <div class="intoText">Forgot Password</div>

  <div class="errorMessage">{{errorMessage}}</div>

  <form [formGroup]="forgetPasswordForm" (ngSubmit)="requestPasswordChange()">
    <label class="input">
      <span>Enter Email Address</span>
      <input formControlName="email" type="email" autocomplete="">
    </label>
    <small *ngIf="forgetPasswordForm.controls.email.invalid && forgetPasswordForm.controls.email.touched">Email address is invalid</small>

    <button class="signInButton">Submit</button>
  </form>
  <div class="register">Remember password? <span routerLink="../login">Login</span>.</div>
</div>
<div class="register" routerLink="../login">Remember password? Login.</div>
