<div class="courses row">
  <div class="col-md-3">
    <img src="../../../assets/courses/course1.jpeg" alt="">
  </div>
  <div class="aboutCourse col-md-7">
    <h1>course 1</h1>
    <div>Do you have a 2,3,4,5 year old?
      Start now to teach them how to say words the right way.
      Our collection of downloadable videos for 2,3,4,5 year olds are specially
      designed to help your children learn the sounds and blend them.
      They learn to pronounce these words the right way and blend them to make simple....
    </div>
  </div>
  <div class="col-md-2">
    <button class="enrolButton" routerLink="course-details">Read More</button>
  </div>
</div>

<div class="courses row">
  <div class="col-md-3">
    <img src="../../../assets/courses/course2.jpg" alt="">
  </div>
  <div class="aboutCourse col-md-7">
    <h1>course 2</h1>
    <div>Over the years, I have addressed thousands of audiences from different walks of life
      and one thing I have realised is that the fear of Public Speaking is only a thing of the
      mind and the result of negative or pessimistic thinking.
      People focus more on "I'm not good....
    </div>
  </div>
  <div class="col-md-2">
    <button class="enrolButton" routerLink="course-details2">Read More</button>
  </div>
</div>

<div class="courses row">
  <div class="col-md-3">
    <img src="../../../assets/courses/course3.jpeg" alt="">
  </div>
  <div class="aboutCourse col-md-7">
    <h1>course 3</h1>
    <div>Over the years, I have addressed thousands of audiences from different walks of life
      and one thing I have realised is that the fear of Public Speaking is only a thing of the
      mind and the result of negative or pessimistic thinking.
      People focus more on "I'm not good....
    </div>
  </div>
  <div class="col-md-2">
    <button class="enrolButton" routerLink="course-details3">Read More</button>
  </div>
</div>

<div class="courses row">
  <div class="col-md-3">
    <img src="../../../assets/courses/course4.jpeg" alt="">
  </div>
  <div class="aboutCourse col-md-7">
    <h1>course 4</h1>
    <div>SPEAKING IS DIFFERENT FROM COMMUNICATION, You can Speak without communicating
      and this is what many people do not understand.
      A lot of People think that speaking with....
    </div>
  </div>
  <div class="col-md-2">
    <button class="enrolButton" routerLink="course-details4">Read More</button>
  </div>
</div>
