.header {
  position: fixed;
  top: 70px;
  left: 10%;
  z-index: 100;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 12px;

  .onlineCourse {
    font-weight: 900;
    font-size: 2em;
  }

  >:last-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    label {
      box-shadow: 0 0 5px black;
      border-radius: 5px;
      padding: 5px;
      box-sizing: border-box;
      margin: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      input {
        border: none;
      }
    }

    > i {
      display: block;
      padding: 10px;
      box-shadow: 0 0 5px black;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}


.main {
  margin-top: 70px;
}
