.header {
  position: fixed;
  top: 70px;
  left: 5%;
  z-index: 100;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 12px;

  @media (max-width: 700px) {
    left: 0;
    width: 100vw;
  }

  .onlineCourse {
    font-weight: 900;
    font-size: 2em;
    @media (max-width: 330px) {
      font-size: 1.7em;
    }
  }

  .search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    label {
      box-shadow: 0 0 5px black;
      border-radius: 5px;
      padding: 5px;
      box-sizing: border-box;
      margin: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      @media (max-width: 700px) {
        display: none;
      }

      input {
        border: none;
      }
    }

    > i {
      display: block;
      padding: 10px;
      box-shadow: 0 0 5px black;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 7px;
    }
  }

  .mobileSearch {
    display: none;
    label {
      box-shadow: 0 0 5px black;
      border-radius: 5px;
      padding: 5px;
      box-sizing: border-box;
      display: flex;
      margin-top: 10px;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      input {
        border: none;
        width: 100%;
      }
    }

    @media (max-width: 700px) {
      display: block;
      width: 100%;
    }
  }
}


.main {
  margin-top: 140px;

  @media (max-width: 700px) {
    margin-top: 180px;
  }
}
