<div class="footer">
  <div>
    <h1>Unique <br> Accent</h1>
  </div>
  <div class="footerMenu">
    <span routerLink="/">Home</span>
    <span routerLink="/services">Services</span>
    <span routerLink="/courses">Courses</span>
    <span>Trainings</span>
    <span routerLink="/links">Links</span>
  </div>
  <div>
    <a target="_blank" href="https://www.facebook.com/uniqueaccentinternational/" class="socialIcons"><i class="fab fa-facebook"></i></a>
    <a target="_blank" href="https://www.instagram.com/unique.accent/" class="socialIcons"><i class="fab fa-instagram"></i></a>
    <a target="_blank" href="https://www.youtube.com/channel/UCKSx0DcwOsHVlGt5YJyNvRQ" class="socialIcons"><i class="fab fa-youtube"></i></a>
    <a target="_blank" href="https://wa.me/+2347032767180" class="socialIcons"><i class="fab fa-whatsapp"></i></a>
  </div>
  <div class="credit">
    <a href="https://wa.me/+2348131634627" target="_blank">Developed with <span style="color: red">❤</span> by SoftCode</a>
  </div>
  <div style="display: none">
    <h1>Unique <br> Accent</h1>
    <a href="https://wa.me/+2348131634627" target="_blank">Developed with <span style="color: red">❤</span> by SoftCode</a>
  </div>
</div>
