.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  padding: 0 100px;
  color: #FFF8F2;
  //margin-top: 50px;
  vertical-align: center;
  width: 100vw;
  min-height: 40vh;
  box-sizing: border-box;

  @media (max-width: 1100px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: revert;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 0 75px;

    .credit {
      display: none!important;
    }

    > :first-child {
      display: none;
    }

    > div {
      width: 100%;
      justify-content: center;
    }

    > :last-child {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      h1 {
        padding: 0;
      }
      a {
        color: white;
      }
    }
  }

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h1 {
      font-family: 'Philosopher', sans-serif;
      color: white;
      font-size: 3rem;
      font-weight: 700;
      margin: 10px 0;
      padding: 0 20px;
    }

    &:nth-child(2) {
      > * {
        padding: 10px 20px;
        margin: 10px;
        color: white;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          text-shadow: white 0 5px 5px;
        }
      }
    }

    &:nth-child(3) {
      .socialIcons {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 40px;
        height: 40px;
        margin: 10px;
        border-radius: 100%;
        background: #FFF8F2;
        color: black;
        &:hover {
          cursor: pointer;
          box-shadow: white 0 0 20px;
        }
      }
    }
  }

  .credit {
    display: block;
    min-width: 100%;
    text-align: center;
    a {
      cursor: pointer;
      text-decoration: none;
      color: white;
    }
  }
}
