@import '~mdb-ui-kit/css/mdb.min.css';
@import '~@angular/material/theming';
@import 'theming';
@include mat-core();
$UniqueAccent-primary: mat-palette($primary-theme);
$UniqueAccent-accent: mat-palette($primary-theme, A200, A100, A400);
$UniqueAccent-warn: mat-palette($mat-red);
$UniqueAccent-theme: mat-light-theme((
  color: (
    primary: $UniqueAccent-primary,
    accent: $UniqueAccent-accent,
    warn: $UniqueAccent-warn,
  )
));
@include angular-material-theme($UniqueAccent-theme);
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Ultra&family=Fredoka+One&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";


html, body {
  font-family: 'Bellota', cursive;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: black;
}

* {
  box-sizing: border-box;
  font-family: 'Bellota', cursive;
  font-weight: 600;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #242424;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
