<div class="mainDiv">
  <div class="topDiv">
    <div>
      <h1>Teachers Training</h1>
      <div>
        <a href="https://wa.me/+2347032767180" target="_blank">Enrol</a>
      </div>
    </div>
    <div><img src="" alt=""></div>
  </div>

  <div class="container">
    One of the most important professions in the world is teaching. Teachers make them all! This is why teachers
    training is very important. Teachers have great influence in the minds of their pupils/students. Whatever the
    teachers teach them is what they receive and live by. This is why training teachers on all of our courses is not
    just is not just about making impacts on the teachers, but more about making impacts to the society at large.
  </div>
</div>
