<header class="bg-light sticky-top">

  <img src="../../../../assets/UACLLogo.png" alt="UACL"/>
  <div class="menu">
    <div class="mobilMenuTrigger">
      <button (click)="toggleMenu()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div id="overlay" class="overlay" (click)="toggleMenu()"></div>
    <nav id="navBar" class="navbar">
      <span routerLink="/" routerLinkActive="active">Home</span>
      <span routerLink="services">Services</span>
      <span routerLink="courses">Courses</span>
      <span>Training</span>
      <span class="upcomingTraining">Upcoming Training</span>
    </nav>
  </div>
</header>
