<header class="bg-light sticky-top">

  <img routerLink="/" src="../../../../assets/UACLLogo.png" alt="UACL"/>
  <div class="menu">
    <div class="mobilMenuTrigger">
      <button (click)="toggleMenu()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div id="overlay" class="overlay" (click)="toggleMenu()"></div>
    <nav id="navBar" class="navbar">
      <span routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</span>
      <span routerLink="/services" routerLinkActive="active">Services</span>
      <span routerLink="/courses" routerLinkActive="active">Courses</span>
<!--      <span routerLinkActive="active">Training</span>-->
<!--      <span class="upcomingTraining">Upcoming Training</span>-->
    </nav>
  </div>
</header>

