<div class="mainDiv">
  <div class="topDiv">
    <div>
      <h1>Diction and Elocution</h1>
      <div>
        <a href="https://wa.me/+2347032767180" target="_blank">Enrol</a>
      </div>
    </div>
    <div><img src="../../../../assets/services/dictionTraining.jpeg" alt=""></div>
  </div>

  <div class="container">
    Speaking is undoubtedly one of the best ways to communicate. Ironically, some people speak but only few can
    communicate effectively. The ability to speak and communicate eloquently and effectively in English makes you
    understood anywhere in the world, makes your voice heard even in the midst of noise. It makes you stand out, boosts
    your confidence and gives you a competitive advantage. Our Diction and Elocution Course exposes speakers to the
    sounds of the English language, which helps them pronounce words accurately. It also makes them aware of the right
    stress placement of words and appropriate usage of intonation which helps in giving a sentence its true meaning.
  </div>
</div>
